/Rummy/target/
/ConfigurarPartida/target/
/SubsistemaInterSocket/target/
/DominioRummy/target/
/DTORummy/target/
/ComunicacionRummy/target/
/PresentacionRummy/target/
/ServidorRummy/target/
/InfraestructuraRummy/target/
/AplicacionRummy/target/
*.lst
/ManejadorRespuestasRummy/target/
*.lst
*.class
